

.form_container{
    margin: 0 auto;
    padding: 20px;
    width: fit-content;
    justify-content: center;

}

.form_container input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form_container.form_div{
    margin-bottom: 3px;

}
.form_container label {
    display: block;
}
.container{
    width: 10%;
    margin: auto;
    padding-top: 60px;
    display: block;

}

h2 {
    margin: 0;
    padding: 20px 0;
    font-size: 45px;
    width: 100%;
    text-align: center;
}


.submit-button {
    background-color: #3d3a4c;
    color: white;
    font-family: Calibri, sans-serif;
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
    border: #3d3a4c;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
}

.click_me-button {
    background-color: #3d3a4c;
    color: white;
    font-family: Calibri, sans-serif;
    font-size: 17px;
    font-style: italic;
    text-decoration: none;
    border: #3d3a4c;
    border-radius: 15px;
    padding: 15px;
    width: 150px;
}

.click_me-button:hover {
    background-color: white;
    color: #3d3a4c;
}

.submit-button:hover{
    background-color: white;
    color: #3d3a4c;
}
.description,
.buttons-container {
    opacity: 0;
    animation-fill-mode: forwards;
}

.description {
    animation-name: fadeInDescription;
    animation-duration: 3s;
    animation-delay: 3s;
}

.buttons-container {
    display: flex;
    justify-content: center;
    animation-name: fadeInButtons;
    animation-duration: 3s;
    animation-delay: 6s;
}


.click_me-button {
    margin: 10px;
    white-space: nowrap;
}

@keyframes slideDownHeader {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.upload-box {

    position: absolute;
    top: 70%;
    right: 10%;
    width: 250px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #722971;
    border-radius: 5px;
    text-align: center;
}

.upload-box label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.upload-box input[type="file"] {
    display: block;
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin: 0 auto 10px;
}

.upload-box input[type="submit"] {
    background-color: #722971;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
}

.upload-box input[type="submit"]:hover {
    background-color: #ddcedd;
    color: #722971;
}

.submit-button {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#HomePageImage {
    width: 4%;
    padding-left: 5%;
    padding-top: 2%;
}


.lessons-container {
    text-align: center;
    margin-bottom: 14px;
}

.lessons-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 200px;
}

.lesson-item {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lesson-item .cancel-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.lesson-item .cancel-button:hover {
    background-color: darkred;
}

.submit-button {
    display: block;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form_div:nth-child(5) {
        margin-bottom: 20px;
    }

    .upload-box {
        width: 80%;
        margin-top: 20px;
        display: block;
        position: relative;
        top: auto;
        right: auto;
    }

    .upload-box form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .upload-box label {
        margin-bottom: 10px;
    }

    .upload-box input[type="file"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        margin: auto 10px;
    }

    .upload-box input[type="submit"] {
        width: 35%;
        padding: 10px;
        margin-top: 5%;
    }


    .upload-box {
        width: 50%;
        height: 10%;
        margin-top: 1px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        top: auto;
        right: auto;
    }
}


